<footer class="footer">
    <div class="else">
        <div class="left">
            <p>2019</p>
            <p>蚂蜂盯标「全新上线」</p>
            <a href="#">了解我们<i></i></a>
        </div>
        <div class="right">
            <div class="contact">
                <div class="title">QQ联系方式</div>
                <div class="num">
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3036029038&site=qq&menu=yes">
                        <i class="qq"></i>马蜂盯标客服
                    </a>
                </div>
                <div class="title">热线电话</div>
                <div class="num"><i class="phone"></i>0571-28951270</div>
            </div>
            <div class="QR_code">
                <div class="app">
                    <p>APP二维码</p>
                    <img src="assets/static/images/logo/app-code.png">
                </div>
                <div class="weChat">
                    <p>微信二维码</p>
                    <img src="assets/static/images/logo/WeChat-code.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="records">
        <div>备案号：浙ICP备18056008号</div>
        <div>
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010802009621">
                <img src="assets/static/images/slicing/public-filing.png">
                浙公网安备?33010802009621号
            </a>
        </div>
    </div>
</footer>
