<header class="header">

    <div class="fun">
        <a href="/" class="link">首页</a>
        <a href="/customs/summary" class="link">招标订阅</a>
        <a href="/purchases/search" class="link">高级搜索</a>
        <a href="/enterprises/search" class="link">查企业</a>
        <a href="#" class="login">登录</a><!--未登入-->
        <div id="header-user-info" class="yet" style="display: none">
            <span>已登录</span>
            <div class="quit">
                <p class="logOff">退出登录</p>
                <a href="#/home/custom-push"><p>会员中心</p></a>
            </div>
        </div>
        <span class="more">更多产品</span>
        <div class="listMore">
            <span>更多产品</span>
            <a href="/achievements/search" target="_blank" class="check">
                <i class="performance"></i>
                <p>查业绩</p>
            </a>
            <a href="/staffs/search" target="_blank" class="check">
                <i class="staff"></i>
                <p>查人员</p>
            </a>
            <a href="/qualifications/search" target="_blank" class="check">
                <i class="aptitude"></i>
                <p>查资质</p>
            </a>
            <a href="/credits/search" target="_blank" class="check">
                <i class="integrity"></i>
                <p>查诚信</p>
            </a>
            <a href="/hotwords" target="_blank" class="check">
                <i class="sites"></i>
                <p>风云榜</p>
            </a>
            <a href="/aboutus" target="_blank" class="check">
                <i class="about"></i>
                <p>看我们</p>
            </a>
            <a href="/products" target="_blank" class="allProduct">全部产品>></a>
        </div>
    </div>
    <div class="scan">
        <div>
            <img src="">
        </div>
    </div>
</header>
